/* Login View */
#loginView {
    position: flex;
    width: 102vw;
    height: 90vh;
    z-index: 10; 

    background-color: #C8B2EA; 
    background-image: url('/graphQL/assets/circle.svg');
    background-size: 100% 100%; 
    background-position: center; 
    background-repeat: no-repeat;

    /* Center content using flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Login Box Styling */

#loginBox {
    position: relative;
    padding: 15px;
    border-radius: 10px;
    width: 225px; 
    max-width: 320px;
}

#loginForm {
    text-align: center; /* Center inline and inline-block elements */
    top: -15px; /* Moves the form slightly above the vertical center */
}

#loginBox h2 {
    text-align: center;
    margin-bottom: 15px;
}

#loginBox input[type="text"],
#loginBox input[type="password"],
#loginBox input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #6216d46f;
    margin: auto;
}

#loginBox input[type="text"],
#loginBox input[type="password"] {
    background-color: #F7FCFE;
}

#loginBox input[type="submit"] {
    background-color: #C8B2EA;
    color: #6216d4;
    cursor: pointer;
}


/* Error message styling */
#error-message {
    color: rgb(210, 40, 204);
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}
