/* Define global variables using :root */
:root {
--primary-bg-color: #E6E6FA; /* Light lavender */
/* --primary-bg-color: #E6E6FA; Light lavender */
--secondary-bg-color: #FFFFFF; /* White */
--text-color: #333333; /* Dark gray for text */
}

/* Apply the primary background color to the body */
body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}


/* ----------------- */

/* Main View */
#mainView {
    position: absolute;
    background-color: #C8B2EA;
    top: 0;
    left: 0;
    width: 100%;
}


/* Navbar Styling */
#nav-bar {
    display: flex;
    justify-content: space-between; /* Space out elements */
    align-items: center; /* Align items vertically */
    padding: 10px 20px; /* Add padding */
    background-color: rgb(158, 107, 234); /* Background color for navbar */
    color: #333; /* Text color */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

/* Title Styling */
#nav-title {
    font-size: 24px;
    font-weight: bold;
}

/* Welcome Message Styling */
#nav-message {
    font-size: 18px;
    margin-left: auto; /* Push it to the right */
    margin-right: 8px; /* Add spacing between message and logout button */
}


/* Logout Button Styling */
#logout-button {
    background-color: #6216d4; /* Button background color */
    color: white; /* Button text color */
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
}

#logout-button:hover {
    background-color: #4b0ea6; /* Darker shade on hover */
}

/* --------------  */